.btn {
  display: block;
  vertical-align: top;
  padding: 13px 15px 15px;

  font-weight: calc($font-weight + 300);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;

  border: 3px solid $white;
  border-radius: 30px;
  transition: all .3s;
  cursor: pointer;

  &--download {
    padding-top: 14px;
    padding-bottom: 14px;

    font-size: $font-size-big;
    font-weight: calc($font-weight + 300);
    text-decoration: none;
    color: $white;
    text-align: center;

    border: 3px solid $white;
    border-radius: 27px;
  }

  &--download:hover {
    background-color: $white;

    color: $pink;
  }

  &--download:active {
    color: rgba(210,40,86,.3);
  }

  &--green {
    background-color: $green;
  }

  &--green:hover {
    background-color: $green-dark;
  }

  &--green:active {
    color: hsla(0,0%,100%,.3);
  }

  &--green:disabled {
    color: $white;
    background-color: $disabled;
  }

  &--pink {
    background-color: transparent;
    border-color: $pink;
    color: $pink;
  }

  &--pink:hover {
    background-color: $pink;
    color: $white;
  }

  &--pink:active {
    color: hsla(0,0%,100%,.3);
  }

  &--gray {
    background-color: transparent;
    border-color: $lightest-gray;
    color: $lightest-gray;
  }

  &--gray:hover {
    color: $gray;
    border-color: $gray;
  }

  &--gray:active {
    background-color: $gray;
    color: $lightest-gray;
  }

  &--form-submit {
    text-transform: uppercase;
    color: $white;

    border: none;
    border-radius: 2px;
  }
}
