.container {
  width: $container-width;
  max-width: $screen-mobile;
  margin: 0 auto;

  /*outline: 1px solid lightblue;*/

  @media (--screen-tablet) {
    width: $container-width-tablet;
    max-width: $screen-tablet;
    margin: 0 auto;
    padding: 0;
    /*outline: 1px solid lightblue;*/
  }

  @media (--screen-desktop) {
    width: $container-width-desktop;
    max-width: $screen-desktop;
    margin: 0 auto;
    padding: 0;

    /*outline: 1px solid lightblue;*/
  }
}
