.contacts {
  position: relative;

  background-color: $white;
  outline: 1px solid red;

  &__title {
    padding-top: 49px;
    margin-bottom: 39px;

    outline: 1px solid lightgreen;
  }

  &__title-item {
    margin: 0 auto;

    display: block;

    font-size: $font-size-h1;
    text-align: center;
    color: $gray-dark;
  }

  &__container {
    @media (--screen-tablet){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.contacts-item {
  margin-bottom: 20px;

  line-height: $line-height;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--screen-tablet) {
    flex-basis: 250px;
    margin: 0 30px;
  }

  @media (--screen-desktop) {
    &:first-child {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:last-child {
      order: 2;
    }
  }

  &__title {
    margin-bottom: 0;

    display: block;

    font-size: $font-size-h2;
    font-weight: calc($font-weight + 300);
    text-align: center;
    color: $gray-dark;
  }

  &__contact {
    margin-top: 0;

    display: block;

    font-size: $font-size-h1;
    font-weight: calc($font-weight - 100);
    text-align: center;
    text-decoration: none;
    color: $pink;
  }
}
