.copyright {
  @media (--screen-tablet) {
    padding-top: 38px;
  }

  @media (--screen-desktop) {
    padding-right: 20px;
  }

  &--index {
    @media (--screen-tablet) {
      padding-top: 17px;
      margin-right: 14px;
    }

    @media (--screen-desktop) {
      padding-right: 13px;
      padding-top: 7px;
      margin: 0;
    }
  }

  &--photo {
    @media (--screen-tablet) {
      padding-top: 39px;
      margin-right: 13px;
    }

    @media (--screen-desktop) {
      padding-top: 39px;
    }
  }

  &--form {
    @media (--screen-tablet) {
      padding-top: 29px;
      margin-left: 18px;
      margin-right: 13px;
    }

    @media (--screen-desktop) {
      padding-right: 0;
    }
  }

  &__text,
  &__link {
    display: inline-block;
    vertical-align: middle;
  }

  &__text {
    font-size: $font-size;

    @media (--screen-desktop) {
      margin-right: 5px;
      font-size: 1.1em;
    }
  }

  &__logo {
    fill: $pink;

    width: 43px;

    &:hover {
      fill: $gray-dark;
    }

    &:active {
      opacity: 0.3;
    }

    &--form,
    &--photo {
      width: 35px;
      margin-left: 7px;

      @media(--screen-tablet) {
        padding-top: 10px;
      }

      @media(--screen-desktop) {
        padding-top: 0;
        margin-left: 0;
      }
    }

    @media (--screen-tablet) {
      width: 40px;
      height: 40px;
    }

    @media (--screen-desktop) {
      width: 40px;
      height: 40px;

      margin-top: 10px;
    }
  }
}
