.downloads {
  padding: 30px 0 20px 0;

  color: $white;

  background-color: $dark;

  @media (--screen-tablet) {
    padding: 30px 0 14px 8px;
    margin: 0;
    max-width: $screen-mobile;

    background: none;
  }

  @media (--screen-desktop) {
    padding-top: 24px;
  }

  &__btn-download {
    width: 240px;

    @media (--screen-tablet) {
      width: 260px;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;

    @media (--screen-tablet) {
      margin-top: 50px;
      margin-bottom: 38px;
    }

    @media (--screen-desktop) {
      margin-top: 70px;
      margin-bottom: 58px;
    }
  }

  &__link {
    margin-right: 30px;

    display: inline-block;
    vertical-align: bottom;

    background-repeat: no-repeat;

    font-size: 0;

    &--apple {
      width: 46px;
      height: 56px;

      background-image: url("../img/logo-apple.svg");
    }

    &--android {
      width: 42px;
      height: 47px;
      background-image: url("../img/logo-android.svg");
    }

    &--windows {
      width: 43px;
      height: 41px;
      background-image: url("../img/logo-microsoft.svg");
    }

    &:last-child {
      margin-right: 0;
    }
  }

  /*Why child margin affect outside of parent?*/
  &__description {
      padding: 0 25px;
      margin: 0;

      @media (--screen-tablet) {
        padding: 0;
      }
  }

  &__container {
    @media (--screen-tablet) {
      margin: 0;
      max-width: $screen-mobile;

      background: none;
    }
  }
}
