.features-item {
  margin: 0 auto 36px auto;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--screen-tablet) {
    margin: 0 12px 39px 27px;
  }

  @media (--screen-desktop) {
    position: relative;

    padding-top: 160px;
  }

  &__title {
    margin-bottom: 14px;

    display: block;

    font-size: $font-size-h2;
    font-weight: calc($font-weight + 300);
    text-align: center;
    color: $gray-dark;

    @media(--screen-tablet) {
      margin-bottom: 15px;
      text-align: left;
    }

    @media (--screen-desktop) {
      padding-right: 30px;

      text-align: center;
      font-size: $font-size-h2--tablet;
    }
  }

  &:last-child &__description {
    margin-bottom: 0;

    @media (--screen-desktop) {
      margin: 0 auto;
      padding-left: 30px;
    }
  }

  &:last-child &__title {
    @media (--screen-desktop) {
      padding-right: 0;
    }
  }

  &__description {
    margin: 0;

    font-size: $font-size;
    line-height: 1.7;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    @media(--screen-tablet) {
      width: 310px;

      text-align: left;
    }

    @media (--screen-desktop) {
      width: 270px;

      text-align: center;
      font-size: $font-size-big;
    }
  }

  &__image {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;

    max-width: 157px;
    max-height: 320px;

    &--image3 {
      position: relative;
      display: block;
    }

    @media(--screen-tablet) {
      position: absolute;
      left: 41px;
      top: -35px;

      max-width: 268px;
      max-height: 481px;
    }

    @media (--screen-desktop){
      @for $i from 1 to 3 {
        &--image$i {
          position: absolute;
          top: -200px;
          left: -22px;
          right: 0;

          display: block;
          width: 292px;
          max-width: 292px;
          height: 302px;
          margin: 0 auto;
        }
      }

      &--image1 {
        left: -45px;
      }

      &--image2 {
        left: -19px;
      }
    }
  }
}
