.form-contest {
  background-color: $white;

  & &__container {
    @media(--screen-tablet){
      display: flex;
      flex-direction: column;
    }

    @media (--screen-desktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      padding-right: 19px;
    }
  }

  &__additional-text {
    display: none;

    @media (--screen-desktop) {
      display: inline-block;
    }
  }
  /*outline: 1px solid red;*/
}
