.form-section {
  padding-top: 25px;
  padding-bottom: 19px;

  background-color: $white;
  border: none;

  &--gray {
    background-color: $light-gray;
    margin: 0 -20px;
    padding: 0 20px;
    /*margin: 0 -6.25%;
    padding: 0 6.25%;*/

    @media (--screen-tablet) {
      background-color: $white;
      padding: 25px 0;
      margin: 0;
    }
  }

  @media (--screen-tablet) {
    &--name {
      order: 1;
    }

    &--achievements {
      order: 4;
    }

    &--contacts {
      order: 3;
    }

    &--app {
      order: 2;
    }

    &--emotions {
      order: 5;
    }

    &--footer {
      order: 6;
    }
  }

  @media (--screen-desktop) {
    width: 100%;

    &--name,
    &--app {
      width: 45%
    }

    &--name {
      padding-top: 53px;
    }
  }

  /*TODO: try to replace padding with margin*/
  &--achievements {
    padding-top: 37px;
    padding-bottom: 39px;

    @media (--screen-tablet) {
      padding-bottom: 20px;
    }
  }

  &--contacts {
    padding-top: 37px;
    padding-bottom: 20px;
  }

  &--app {
    padding-top: 37px;
    padding-bottom: 39px;

    @media (--screen-tablet) {
      padding-bottom: 21px;
    }
  }

  &--emotions {
    padding-top: 37px;
    padding-bottom: 20px;

    @media (--screen-tablet) {
      padding-bottom: 43px;
    }
  }

  &--footer {
    padding-bottom: 30px;
  }

  &__item {
    padding: 0;

    border: none;

    &--fieldset {
        position: relative;
    }

    @media (--screen-tablet) {
      border: 1px solid $gray;
    }

    &--name {
      border: none;
    }

    &--contacts {

      @media(--screen-tablet) {
        padding: 37px 57px 22px 60px;
      }

      @media (--screen-desktop){
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 37px 27px 9px 60px;
      }
    }

    &--achievements {
      @media (--screen-desktop) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &__title {
    color: $pink;
    text-transform: uppercase;
    text-align: center;

    &--contacts {
      display: none;

      @media (--screen-tablet) {
        display: block;
      }
    }
  }

  &__fieldset-flex-container {
    @media (--screen-desktop){
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--achievements {
      @media (--screen-desktop) {
        width: 93%;
      }
    }
  }

  &__form-section-item--achievements {
    margin-top: 42px;
  }

  &__form-section-item--app {
    margin-top: 36px;

    @media (--screen-tablet) {
      margin-top: 38px;
      margin-left: 60px;

      &:last-child {
        margin-bottom: 50px;
      }
    }

    @media (--screen-desktop) {
      margin-left: 51px;
    }
  }

  &__form-section-item--emotions {
    width: 94%;
    min-height: 177px;
    padding: 20px 0 0 16px;
    margin-top: 17px;

    font-size: $font-size-big;
    line-height: $line-height-h2;

    border: 2px solid $light-gray;

    @media (--screen-tablet) {
      display: block;
      width: 76%;
      margin: 40px auto;
    }

    @media (--screen-desktop) {
      width: 86%;
      min-height: 105px;
    }
  }

  &__form-section-item--info {
    margin-top: 42px;

    font-size: $font-size;
    text-transform: uppercase;
    text-align: center;

    @media (--screen-tablet) {
      margin-top: 25px;
      float: right;
    }

    @media (--screen-desktop) {
      margin-right: 21px;
    }
  }

  &__form-section-item-group--achievements {
    @media (--screen-tablet) {
      padding-left: 60px;
      &:last-child {
        margin-bottom: 50px;
      }
    }

    @media (--screen-desktop) {
      &:last-child,
      &:nth-last-child(2) {
        padding-left: 0;
      }
    }
  }

  &__btn-submit {
    width: 100%;
    padding: 23px 0 22px 0;

    @media (--screen-tablet) {
      display: inline-block;
      width: 48%;
    }

    @media (--screen-desktop) {
      width: 31%;
    }
  }
}
