.form-section {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $white;
  border: none;

  &--gray {
    background-color: $light-gray;
    margin: 0 -20px;
    padding: 0 20px;
    /*margin: 0 -6.25%;
    padding: 0 6.25%;*/

    @media (--screen-tablet) {
      background-color: $white;
      padding: 25px 0;
      margin: 0;
    }
  }

  @media (--screen-tablet) {
    &--name {
      order: 1;
    }

    &--achievements {
      order: 4;
    }

    &--contacts {
      order: 3;
    }

    &--app {
      order: 2;
    }

    &--emotions {
      order: 5;
    }

    &--footer {
      order: 6;
    }
  }

  @media (--screen-desktop) {
    width: 100%;

    &--name,
    &--app {
      width: 45%
    }
  }

  &__item {
    border: none;

    &--fieldset {
        position: relative;
    }

    @media (--screen-tablet) {
      border: 1px solid $gray;


    }

    &--name {
      border: none;
    }

    &--contacts {
      @media (--screen-desktop){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &--achievements {
      @media (--screen-desktop) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &__title {
    color: $pink;

    @media (--screen-tablet) {
      text-align: center;
    }

    &--mobile-hidden {
      display: none;

      @media (--screen-tablet) {
        display: block;
      }
    }

    &--legend {
      position: absolute;
      top: -1px;
      left: 50%;

      margin: 0;
      padding-left: 25px;
      padding-right: 25px;
      transform: translate(-50%,-50%);

      color: $pink;

      background-color: $white;
    }
  }

  &__fieldset-flex-container {
    @media (--screen-desktop){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__form-section-item--achievements {
    width: 200px;
    margin-right: 45px;
  }
}
