.form-section {
  padding-top: 23px;
  padding-bottom: 16px;

  background-color: $white;
  border: none;

  &--gray {
    background-color: $light-gray;
    margin: 0 -20px;
    padding: 0 20px;
    /*margin: 0 -6.25%;
    padding: 0 6.25%;*/

    @media (--screen-tablet) {
      background-color: $white;
      padding: 25px 0;
      margin: 0;
    }
  }

  @media (--screen-tablet) {
    padding-bottom: 19px;

    &--name {
      order: 1;
    }

    &--achievements {
      order: 4;
    }

    &--contacts {
      order: 3;
    }

    &--app {
      order: 2;
    }

    &--emotions {
      order: 5;
    }

    &--footer {
      order: 6;
    }
  }

  @media (--screen-desktop) {
    width: 100%;

    &--name,
    &--app {
      width: 46.5%
    }

    &--name {
      padding-top: 53px;
    }
  }

  /*TODO: try to replace padding with margin*/
  &--achievements {
    padding-top: 37px;
    padding-bottom: 33px;

    @media (--screen-tablet) {
      padding-bottom: 20px;
    }

    @media (--screen-desktop) {
      padding-bottom: 25px;
    }
  }

  &--contacts {
    padding-top: 37px;
    padding-bottom: 20px;
  }

  &--app {
    padding-top: 37px;
    padding-bottom: 39px;

    @media (--screen-tablet) {
      padding-bottom: 21px;
    }
  }

  &--emotions {
    padding-top: 37px;
    padding-bottom: 22px;

    @media (--screen-tablet) {
      padding-bottom: 42px;
    }

    @media (--screen-desktop) {
      padding-top: 33px;
      padding-bottom: 40px;
    }
  }

  &--footer {
    padding-bottom: 30px;

    @media (--screen-tablet) {
      padding-top: 27px;
      padding-bottom: 28px;
    }

    @media (--screen-desktop) {
      padding-top: 27px;
      padding-bottom: 5px;
    }
  }

  &__item {
    padding: 0;

    border: none;

    &--fieldset {
        position: relative;
    }

    @media (--screen-tablet) {
      border: 1px solid $gray;
    }

    &--name {
      border: none;
    }

    &--contacts {

      @media(--screen-tablet) {
        padding: 37px 57px 22px 60px;
      }

      @media (--screen-desktop){
         padding: 33px 27px 9px 60px;
      }
    }
  }

  &__title {
    margin: 0 auto;

    color: $pink;
    text-transform: uppercase;
    text-align: center;

    @media (--screen-tablet) {
      padding: 0 20px;
    }

    &--contacts {
      display: none;

      @media (--screen-tablet) {
        display: block;
      }
    }
  }

  &__fieldset-flex-container {
    @media (--screen-desktop){
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--achievements {
      @media (--screen-tablet) {
        padding-top: 10px;
      }

      @media (--screen-desktop) {
        width: 88%;
        margin: 0 auto;
        padding-top: 4px;
      }
    }
  }

  &__form-section-item--achievements {
    margin-top: 43px;

    @media (--screen-tablet) {
      margin-top: 42px;
    }

    @media (--screen-desktop) {
      margin-top: 35px;
    }
  }

  &__form-section-item--app {
    margin-top: 36px;

    @media (--screen-tablet) {
      margin-top: 26px;
      margin-left: 60px;

      &:nth-child(2) {
        margin-top: 41px;
      }

      &:last-child {
        margin-bottom: 45px;
      }
    }

    @media (--screen-desktop) {
      margin-top: 22px;
      margin-left: 75px;

      &:nth-child(2) {
        margin-top: 38px;
      }
    }
  }

  &__form-section-item--emotions {
    width: 94%;
    min-height: 177px;
    padding: 20px 0 0 16px;
    margin-top: 17px;

    font-size: $font-size-big;
    line-height: 1.5;

    border: 2px solid $light-gray;

    @media (--screen-tablet) {
      display: block;
      width: 78%;
      min-height: 170px;
      margin: 36px auto 51px auto;
    }

    @media (--screen-desktop) {
      width: 85%;
      min-height: 100px;
      padding-top: 17px;
      padding-left: 16px;
    }
  }

  &__form-section-item--info {
    margin-top: 42px;

    font-size: $font-size;
    text-transform: uppercase;
    text-align: center;

    @media (--screen-tablet) {
      margin-top: 25px;
      float: right;
    }
  }

  &__form-section-item-group--achievements {
    @media (--screen-tablet) {
      padding-left: 60px;

      &:last-child {
        margin-bottom: 40px;
      }
    }

    @media (--screen-desktop) {
      padding-left: 0;
      &:last-child {
        margin-bottom: 45px;
        margin-right: -6px;
      }
    }
  }

  &__btn-submit {
    width: 100%;
    padding: 23px 0 22px 0;

    @media (--screen-tablet) {
      display: inline-block;
      width: 48%;
    }

    @media (--screen-desktop) {
      width: 32%;
    }
  }
}
