.guillotine {
  &::before {
    display: block;
    content: '';
    height: 30px;

    background: url('../img/bg-triangle-white.svg');
    background-repeat: no-repeat;

    @media (--screen-tablet) {
      height: 55px;
    }

    @media(--screen-desktop) {
      height: 124px;
    }
  }
}
