.logo {
  display: inline-block;
  vertical-align: bottom;

  font-size: 0;

  &--footer {
    @media (--screen-tablet) {
      padding-top: 17px;
    }
  }

  &__svg {
    display: inline-block;
    width: 146.3px;
    height: 40.375px;

    @media (--screen-tablet) {
      width: 146.3px;
      height: 40.375px;
    }

    @media (--screen-desktop) {
      display: none;
    }

    &--header {
      fill: $white;
      & path {
        fill: $white;
      }

      &:hover  {
        fill: $pink;
      }
      &:hover g {
        fill: $pink;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &--footer {
      &:hover {
        fill: $pink;
      }

      &:hover g,
      &:hover path {
        fill: $pink;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &--mobile {
      width: 70px;
      height: 50px;

      @media (--screen-tablet) {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @media (--screen-tablet) {
        display: inline-block;
      }

      @media (--screen-desktop) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (--screen-desktop) {
        display: inline-block;
      }
    }
  }

  &__pink-desktop-footer {
    &--pink {
      fill: $pink;
    }

    &--gray-dark {
      fill: $gray-dark;

      &:hover {
        fill: $pink;
      }
    }
  }
}
