.main-header {
  position: fixed;
  z-index: 20;

  padding: 8px 0;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  /*outline: 1px solid red;*/

  @media (--screen-tablet) {
    padding: 28px 0 40px 0;
  }

  @media (--screen-desktop) {
    position: absolute;

    padding-top: 12px;
    padding-bottom: 28px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (--screen-desktop) {
      flex-wrap: nowrap;
    }
  }
}
