.main-content {
  &__description {
    background-color: $white;
  }

  &__title {
      margin-top: 0;

      display: block;

      font-size: $font-size-h1;
      line-height: $line-height-h1;
      font-weight: calc($font-weight - 100);
      text-align: center;
      text-decoration: none;
      color: $gray-dark;
  }

  &__description {
    padding-top: 45px;
    padding-bottom: 45px;

    outline: 1px solid red;
  }

  &__description-text {
    margin: 0;

    line-height: $line-height-big;
    font-size: $font-size;
  }
}
