.main-footer {
  background-color: $white;

  /*outline: 1px solid red;*/

  &--index {
    display:none;

    @media (--screen-tablet) {
      display: block;
      padding: 12px 0 42px 0;
    }

    @media (--screen-desktop) {
      padding: 53px 0 63px 0;
    }
  }

  /*
    is it right to make it as block of photo page i.e. photo__main-footer
    and stylize it for photo page
  */
  &--photo {
    padding: 40px 0;

    @media (--screen-tablet) {
      padding-top: 0;
    }

    @media (--screen-desktop) {
      padding-top: 63px;
      padding-bottom: 70px;
    }
  }

  &--form {
    padding: 30px 0;

    @media (--screen-tablet) {
      padding-bottom: 30px;
      padding-top: 3px;
    }

    @media (--screen-desktop) {
      padding-top: 10px;
      padding-bottom: 65px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (--screen-tablet) {
      flex-direction: row;
      align-items: center;

      min-width: $screen-tablet;
    }
  }
}
