.main-header {
  position: fixed;
  z-index: 20;

  padding: 8px 0;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  /*outline: 1px solid red;*/

  &.no-js {
    position: static;
    background-color: $gray-dark;
  }

  &--opened {
    background-color: $gray-dark;

    @media(--screen-desktop) {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  @media (--screen-tablet) {
    padding: 28px 0 40px 0;

    &.no-js {
      padding-bottom: 0;
    }
  }

  @media (--screen-desktop) {
    position: absolute;

    padding-top: 12px;
    padding-bottom: 28px;

    &.no-js {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);

      padding-bottom: 28px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &.no-js {
      display: block;

      @media (--screen-desktop) {
        display: flex;
      }
    }

    @media (--screen-desktop) {
      flex-wrap: nowrap;
    }
  }

  &__menu-button {
    position: relative;

    &--closed::before {
      position: absolute;
      top: 9px;

      content: "";
      left: -50px;

      display: inline-block;
      vertical-align: bottom;
      width: 50px;
      border-bottom: 3px solid $white;
      box-shadow: 0 -10px 0 0 $white,
                  0 -21px 0 0 $white;

      @media (--screen-tablet) {
        box-shadow: 0 10px 0 0 $white,
                    0 -10px 0 0 $white;

      }
    }

    &--opened::before {
      content: "";
      position: absolute;
      top: -15px;
      left: -27px;

      display: block;
      height: 40px;
      transform: rotate(45deg);

      border-right: 5px solid $white;
    }

    &--opened::after {
      content: "";
      position: absolute;
      top: -15px;
      left: -27px;

      display: block;
      height: 40px;
      transform: rotate(-45deg);

      border-left: 5px solid $white;
    }

    @media(--screen-desktop) {
      display: none;
    }
  }
}
