.map {
  position: relative;

  height: 200px;

  text-align: center;

  background: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0, center center;


  /*outline: 1px solid red;*/
  @media (--screen-mobile) and (min-resolution: 144dpi), (--screen-mobile) and (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@2x.jpg");
    background-size: 100%, cover;
    background-position: 0 0, center center;
  }

  @media (--screen-tablet) {
    height: 378px;

    background: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: 0 0, center center;
  }

  @media (--screen-tablet) and (min-resolution: 144dpi), (--screen-tablet) and (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-tablet@2x.jpg");
  }

  @media (--screen-desktop) {
    height: 504px;

    background: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 47.5% 0;
    background-size: 100%, cover;
    background-position: 0 0, center center;
  }

  @media (--screen-desktop) and (min-resolution: 144dpi), (--screen-desktop) and (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-desktop@2x.jpg");
    background-size: 100%, cover;
    background-position: 0 0, center center;
  }

  &__triangle {
    position: absolute;
    top: -1px;
    width: 100%;
  }

  /*make height in %*/
  &::before {
    position: absolute;
    top: -1px;

    content: '';

    display: block;
    width: 100%;

    background-image: url('../img/bg-triangle-white-footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    height: 46px;

    @media (--screen-tablet) {
      height: 75px;
    }

    @media (--screen-tablet-map) {
      height: 100px;
    }

    @media (--screen-desktop) {
      height: 111px;
    }

    @media (--screen-desktop-map) {
      height: 183px;
    }
  }

  &__iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}
