.map {
  position: relative;

  text-align: center;

  outline: 1px solid red;

  &__triangle {
    position: absolute;
    top: -14px;
    left: 0;

    width: 100%;

    @media (--screen-tablet) {
      top: 0;
    }
  }
}
