.menu {
  &-input {
    display: none;
  }

  &-label {
    position: relative;

    @media (--screen-desktop) {
      display: none;
    }
  }

  &-input:not(:checked) + .main-header &-label::before {
    position: absolute;
    top: 9px;

    content: "";
    left: -50px;

    display: inline-block;
    vertical-align: bottom;
    width: 50px;
    border-bottom: 3px solid $white;
    box-shadow: 0 -10px 0 0 $white,
                0 -21px 0 0 $white;

    @media (--screen-tablet) {
      box-shadow: 0 10px 0 0 $white,
                  0 -10px 0 0 $white;

    }
  }

  &-input:checked + .main-header &-label::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -27px;

    display: block;
    height: 40px;
    transform: rotate(45deg);

    border-right: 5px solid $white;
  }


  &-input:checked + .main-header &-label::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -27px;

    display: block;
    height: 40px;
    transform: rotate(-45deg);

    border-left: 5px solid $white;
  }

  /*toggle logic*/
  &-input:checked + .main-header {
    background-color: $gray-dark;
  }

  &-input:not(:checked) + .main-header .navigation {
    display: none;
  }

  &-input:checked + .main-header .navigation {
    display: block;
    background-color: $gray-dark;
  }

  /*show in desktop mode anyway*/
  @media (--screen-desktop) {
    &-input:checked + .main-header {
      background: none;
    }

    &-input:not(:checked) + .main-header .navigation {
      display: block;
      background: none;
    }

    &-input:checked + .main-header .navigation {
      display: block;
      background: none;
    }
  }
}
