.navigation {
  width: 100%;

  display: none;

  &.no-js,
  &--opened {
    display: block;
    background-color: $gray-dark;

    @media(--screen-desktop) {
      background-color: transparent;
    }
  }

  @media (--screen-desktop) {
    display: block;
    width: 100%;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (--screen-desktop){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__link {
    position: relative;
    padding: 24px 0;

    display: block;

    color: $white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $pink;
    }

    &--active:hover::after {
      background-color: $pink;
    }

    &:active {
      opacity: 0.4;
    }

    @media (--screen-desktop) {
      padding: 30px 0 20px 0;

      text-transform: none;
      font-weight: $font-weight;
      font-size: $font-size-big;

      &--active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 100%;
        height: 2px;
        background-color: $white;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -6.25%;

      display: block;
      width: 114%;

      border-top: 1px solid black;

      @media (--screen-desktop) {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__item {
    @media (--screen-desktop) {
      margin: 0 22px 0 58px;
    }
  }
}
