.page-description {
  padding-top: 37px;
  padding-bottom: 32px;

  background-color: $white;
  /*outline: 1px solid red;*/

  @media (--screen-tablet) {
    padding-top: 45px;
  }

  @media (--screen-desktop) {
    padding-top: 70px;
    padding-bottom: 58px;
  }

  &--photo {
    padding-bottom: 49px;

    @media (--screen-tablet) {
      padding-top: 49px;
      padding-bottom: 59px;
    }

    @media (--screen-desktop) {
      padding-top: 71px;
      padding-bottom: 65px;
    }
  }

  &--photo2 {
    padding-top: 32px;
    padding-bottom: 44px;

    @media (--screen-tablet) {
      padding-top: 22px;
      padding-bottom: 53px;
    }

    @media (--screen-desktop) {
      padding-top: 5px;
      padding-bottom: 63px;
    }
  }

  &--form {
    padding-top: 42px;
    padding-bottom: 18px;

    @media (--screen-tablet) {
      padding-bottom: 35px;
    }

    @media (--screen-desktop) {
      padding-top: 50px;
      padding-bottom: 32px;
    }
  }

  &--index {
    @media (--screen-tablet) {
      padding-bottom: 44px;
    }

    @media (--screen-desktop) {
      padding-top: 64px;
      padding-bottom: 83px;
    }
  }

  &__container {
    padding: 5px 0 0 15px;

    @media (--screen-desktop) {
      padding: 0;
    }

    &--index {
      @media (--screen-tablet) {
        padding-left: 0;
      }

      @media (--screen-desktop) {
        padding-right: 17px;
      }
    }

    &--photo {
      padding: 8px 0 0 0;

      @media (--screen-desktop) {
        box-sizing: border-box;
        width: 75%;
        margin: 0 auto;
        padding: 20px 30px;
      }
    }

    &--form {
      padding-left: 0;

      @media (--screen-desktop) {
        padding-left: 20px;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    padding-right: 16px;

    display: block;

    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: calc($font-weight - 100);
    text-align: center;
    text-decoration: none;
    color: $gray-dark;

    &:last-child {
      margin-bottom: 0;
    }

    @media (--screen-tablet) {
      padding: 0 20px 0 0;
      margin: 0 auto;

      font-size: 2.375rem;
      line-height: $line-height-h2;
    }

    @media (--screen-desktop) {
      padding: 0;

      font-size: $font-size-h1--desktop;
      line-height: $line-height-h1;
    }
  }

  &__text {
    margin: 0 auto;

    line-height: $line-height-big;
    font-size: $font-size;

    @media (--screen-tablet) {
      padding-top: 35px;
      padding-bottom: 14px;

      font-size: $font-size-big;
    }

    &--photo,
    &--form {
      max-width: 89%;

      text-align: center;

      @media (--screen-desktop) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &--photo {
      @media (--screen-tablet) {
        line-height: 1.8;
      }

      @media (--screen-desktop) {
        max-width: 86%;
        padding-right: 24px;
      }
    }

    &--photo2 {
      max-width: 90%;
      padding-right: 22px;
    }

    &--form {
      max-width: 100%;

      @media (--screen-tablet) {
        max-width: 89%;
        padding-top: 46px;

        line-height: 1.7;
      }

      @media (--screen-desktop) {
        padding-left: 10px;
        padding-top: 43px;
      }
    }
  }

  &__additional-text {
    display: none;

    @media (--screen-tablet) {
      display: inline-block;
    }
  }
}
