.promo {
  padding-top: 460px;

  color: $white;
  background-color: $gray-dark;

  background-image: url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-position: left 40%, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;

  @media (--screen-mobile-promo) {
    background-size: auto 285px, cover;
    background-position: center 175px, center center;
  }

  @media (--screen-mobile-promo) and (min-resolution: 144dpi), (--screen-mobile-promo) and (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 285px, cover;
    background-position: center 175px, center center;
  }

  @media (--screen-tablet) {
    padding-top: 29%;
    padding-bottom: 13.7%;

    background-image: url("../img/iphone-hand-tablet@1x.png"),
                    url("../img/bg-back-tablet@1x.jpg");
    background-size: auto 545px, cover;
    background-position: bottom center, center center;
  }

  @media (--screen-tablet) and (min-resolution: 144dpi), (--screen-tablet) and (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
    background-size: 100%, cover;
    background-size: auto 545px, cover;
    background-position: bottom 0 right -20px, center center;
  }

  @media (--screen-desktop) {
    padding-top: 15%;
    padding-bottom: 7%;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center center;
    background-size: cover;
  }

  @media (--screen-desktop) and (min-resolution: 144dpi), (--screen-desktop) and (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }

  &--index {
    @media (--screen-tablet) {
      padding-top: 203px;
      padding-bottom: 95px;
    }

    @media (--screen-desktop) {
      position: relative;
      padding-top: 218px;
      padding-bottom: 122px;
    }

    &::after {
      @media (--screen-desktop) {
        content: '';
        position: absolute;
        bottom: 0;
        right: 10.7%;

        height: 645px;
        width: 633px;

        background-image: url("../img/iphone-hand-desktop@1x.png");
        background-position: -250px 0;
        background-size: cover;

      }

      @media (--screen-desktop) and (min-resolution: 144dpi), (--screen-desktop) and (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }

      @media (--screen-desktop-map) {
        right: 17.5%;
      }
    }
  }

  &--form,
  &--photo {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: cover;
    background-position: center center;

    @media (--screen-mobile) and (min-resolution: 144dpi), (--screen-mobile) and (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }

    @media (--screen-tablet) and (min-resolution: 144dpi), (--screen-tablet) and (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    @media (--screen-desktop) and (min-resolution: 144dpi), (--screen-desktop) and (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &--form,
  &--photo {
    min-height: 140px;
    padding-top: 96px;

    @media (--screen-tablet) {
      padding-top: 180px;
      padding-bottom: 120px;
    }

    @media (--screen-desktop) {
      padding-bottom: 88px;
    }
  }

  &--form {
    min-height: 142px;
  }

  &--photo {
    padding-top: 97px;

    @media (--screen-tablet) {
      padding-top: 181px;
      padding-bottom: 119px;
    }

    @media (--screen-desktop) {
      padding-top: 173px;
      padding-bottom: 81px;
    }
  }

  &--form {
    padding-top: 95px;

    @media (--screen-tablet) {
      padding-top: 180px;
      padding-bottom: 80px;
    }

    @media (--screen-desktop) {
      padding-top: 173px;
      padding-bottom: 79px;
    }
  }

  &__container {
    @media (--screen-tablet) {
      width: $container-width-tablet;
      max-width: $screen-desktop;
      margin: 0 auto;
    }

    @media (--screen-desktop) {
      width: $container-width-desktop;
    }
  }

  /*outline: 1px solid red;*/

  &__title {
    display: none;
    margin: 0;
    max-width: $screen-desktop;

    font-size: $font-size-h1;
    line-height: $line-height-h1;
    font-weight: calc($font-weight - 100);

    @media (--screen-tablet) {
      display: block;
      margin-left: calc($container-padding + 0)px;

      font-size: $font-size-h1--tablet;
    }

    &--main {
      max-width: calc($screen-mobile - $container-padding*2);
      margin-left: 0;
      margin-right: auto;

      text-align: center;

      @media (--screen-tablet) {
        margin-left: 10px;
      }

      @media (--screen-desktop) {
        margin-bottom: 0px;

        font-size: $font-size-h1--desktop;
        line-height: $line-height-h1;
      }
    }

    &--form,
    &--photo {
      display: block;

      width: 62.5%;
      margin: 0 auto;

      text-align: center;

      @media (--screen-tablet) {
        font-size: $font-size-h1--desktop;
      }

      @media(--screen-desktop) {
        padding-right: 2.4%;
      }
    }

    &--form {
      width: 72%;

      @media (--screen-tablet) {
        width: 81%;
      }

      @media (--screen-desktop) {
        padding-right: 19px;
      }
    }
  }
}
