.proof {
  display: none;

  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $gray-dark;

  background-color: $white;

  /*outline: 1px solid red;*/
  @media(--screen-tablet){
    display: block;
  }

  @media (--screen-desktop) {
    background-color: $light-gray;
    padding-bottom: 8px;
  }

  &__container {
    @media(--screen-tablet){
      width: 92%;
      padding-top: 43px;
      padding-bottom: 50px;
    }

    @media (--screen-desktop) {
      padding-top: 4px;
      padding-bottom: 0px;
    }
  }

  &__content {
    margin-left: 75px;

    @media (--screen-tablet) {
      padding-top: 9%;
      margin-left: 303px;
    }

    @media (--screen-desktop) {
      padding-top: 9.5%;
      margin-left: 366px;
    }
  }

  &__title {
    font-size: $font-size-h2;
    font-weight: calc($font-weight + 300);
    line-height: $line-height-h1;

    @media (--screen-tablet) {
      max-width: 200px;
      margin: 0;

      font-size: $font-size-h2--tablet;
    }

    @media (--screen-desktop) {
      max-width: 100%;
      margin-bottom: 21px;

      line-height: 1.4;
    }
  }

  &__text {
    @media (--screen-tablet) {
      margin-top: 9px;
      line-height: 1.7;
    }

    @media (--screen-desktop) {
      margin-bottom: 30px;

      font-size: $font-size-big;
    }
  }

  &__link {
    font-size: $font-size;
    color: $pink;

    @media (--screen-desktop) {
      font-size: $font-size-big;
    }
  }
}
