.reviews-item {
  margin-bottom: 26px;

  display: none;

  text-align: center;

  @media (--screen-tablet) {
    flex-direction: column;
    justify-content: flex-start;

    margin-bottom: 0;
  }

  @media (--screen-desktop) {
    padding: 22px 130px 0 130px;
  }

  &__title {
    padding-left: 15px;

    font-size: $font-size-h2;
    font-weight: calc($font-weight + 300);

    @media (--screen-tablet) {
      order: 2;
      margin-bottom: 15px;
      padding-left: 0;
    }

    @media (--screen-desktop) {
      margin-bottom: 10px;
      font-size: $font-size-h1;
    }
  }

  &__subtitle {
    display: none;

    @media (--screen-tablet) {
      display: inline-block;
      padding-left: 0;
      order: 3;

      font-size: $font-size;
    }

    @media (--screen-desktop) {
      padding-left: 0;
      padding-right: 20px;
      font-size: $font-size-big;
    }
  }

  &__text {
    margin-top: 19px;
    margin-bottom: 0;

    font-size: $font-size;
    line-height: $line-height-big;

    @media (--screen-tablet) {
      order: 1;
      margin-top: 26px;
      margin-bottom: 40px;

      font-size: $font-size-big;
      line-height: 1.7;
    }

    @media (--screen-desktop) {
      margin-bottom: 36px;
    }
  }
}
