.reviews {
  position: relative;

  margin-top: -41px;
  padding: 48px 0 41px 0;

  background-color: $white;

  @media (--screen-tablet) {
    margin-top: 0;
    padding-top: 14px;
    padding-bottom: 21px;
  }

  @media (--screen-desktop) {
    margin-top: 0;
    padding-top: 72px;
    padding-bottom: 42px;

    &__container::before {
      display: block;
      content: url('../img/icon-quotes.svg');

      margin: 0 auto;
      width: 93px;
    }
  }
  /*outline: 1px solid red;*/
}
