.slider {
  @media (--screen-desktop) {
    position: relative;
  }

  & > input[type="radio"] {
    display: none;
  }

  &__control-btn {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin-right: 13px;

    background-color: $gray;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #7e868f;
    }

    &:active {
      opacity: 0.3;
    }

    @media (--screen-desktop) {
      display: none;
    }
  }

  &__controls {
    padding-left: 8px;
    text-align: center;

    @media (--screen-tablet) {
      margin-top: 35px;
    }

    @media (--screen-desktop) {
      margin-top: 0;
    }
  }

  /****************************************
              reviews section
  *****************************************/
  & #btn-review-1:checked ~ #reviews-item-1,
  & #btn-review-2:checked ~ #reviews-item-2,
  & #btn-review-3:checked ~ #reviews-item-3 {
    display: block;

    @media (--screen-tablet) {
      display: flex;
    }
  }

  & #btn-review-1:checked ~ &__controls > label[for="btn-review-1"] > .slider__control-btn,
  & #btn-review-2:checked ~ &__controls > label[for="btn-review-2"] > .slider__control-btn,
  & #btn-review-3:checked ~ &__controls > label[for="btn-review-3"] > .slider__control-btn {
    border: 3px solid $gray-dark;
    background-color: $white;
  }


  /*arrows*/
  @media (--screen-desktop) {
    &__controls > label[for="btn-review-1"]::after,
    &__controls > label[for="btn-review-2"]::after,
    &__controls > label[for="btn-review-3"]::after {
      position: absolute;
      top: 39%;
      right: 10px;

      width: 30px;
      height: 30px;
      content: "";
      display: none;
      height: 30px;

      border-bottom: 2px solid $gray;
      border-right: 2px solid $gray;
      background-color: transparent;
      transform: rotate(-45deg) translateY(-50%);
      cursor: pointer;
    }

    &__controls:hover > label[for="btn-review-1"]::after,
    &__controls:hover > label[for="btn-review-2"]::after,
    &__controls:hover > label[for="btn-review-3"]::after {
      border-bottom: 2px solid ced1d5;
      border-right: 2px solid ced1d5;
    }

    &__controls:active > label[for="btn-review-1"]::after,
    &__controls:active > label[for="btn-review-2"]::after,
    &__controls:active > label[for="btn-review-3"]::after {
      opacity: 0.3;
    }

    & #btn-review-1:checked ~ &__controls > label[for="btn-review-2"]::after,
    & #btn-review-2:checked ~ &__controls > label[for="btn-review-3"]::after,
    & #btn-review-3:checked ~ &__controls > label[for="btn-review-1"]::after {
      display: block;
    }

    &__controls > label[for="btn-review-1"]::before,
    &__controls > label[for="btn-review-2"]::before,
    &__controls > label[for="btn-review-3"]::before {
      position: absolute;
      left: 0;
      top: 39%;

      width: 30px;
      height: 30px;
      content: "";
      display: none;
      height: 30px;

      border-bottom: 2px solid $gray;
      border-left: 2px solid $gray;
      background-color: transparent;
      transform: rotate(45deg) translateY(-50%);
      cursor: pointer;
    }

    &__controls:hover > label[for="btn-review-1"]::before,
    &__controls:hover > label[for="btn-review-2"]::before,
    &__controls:hover > label[for="btn-review-3"]::before {
      border-bottom: 2px solid ced1d5;
      border-left: 2px solid ced1d5;
    }

    &__controls:active > label[for="btn-review-1"]::before,
    &__controls:active > label[for="btn-review-2"]::before,
    &__controls:active > label[for="btn-review-3"]::before {
      opacity: 0.3;
    }

    & #btn-review-1:checked ~ &__controls > label[for="btn-review-3"]::before,
    & #btn-review-2:checked ~ &__controls > label[for="btn-review-1"]::before,
    & #btn-review-3:checked ~ &__controls > label[for="btn-review-2"]::before {
      display: block;
    }
  }
  /*arrows*/

  /****************************************
              reviews section
  *****************************************/

  /****************************************
              price section
  *****************************************/

  & #btn-price-1:checked ~ .price-items {
    transform: translateX(0%);
    transition: transform 0.5s;
  }

  & #btn-price-2:checked ~ .price-items {
    transform: translateX(-33.33%);
    transition: transform 0.5s;
  }

  & #btn-price-3:checked ~ .price-items {
    transform: translateX(-66.66%);
    transition: transform 0.5s;
  }

  @media (--screen-tablet) {
   & #btn-price-1:checked ~ .price-items,
   & #btn-price-2:checked ~ .price-items,
   & #btn-price-3:checked ~ .price-items {
      transform: translateX(0%);
      transition: transform 0s;
    }

    .price &__controls {
      display: none;
    }
  }

  & #btn-price-1:checked ~ &__controls > label[for="btn-price-1"],
  & #btn-price-2:checked ~ &__controls > label[for="btn-price-2"],
  & #btn-price-3:checked ~ &__controls > label[for="btn-price-3"] {
    border: 3px solid $gray-dark;
    background-color: $white;
  }

  /****************************************
              price section
  *****************************************/
}
