.social {
  margin-bottom: 12px;

  @media (--screen-desktop) {
    padding-top: 5px;
    padding-left: 8px;
  }

  &--index {
    @media (--screen-tablet) {
      width: 191px;
      margin-left: -6px;
      padding-top: 15px;
    }

    @media (--screen-desktop) {
      margin-left: 14px;
      padding-top: 8px;
    }
  }

  &--main-footer-photo,
  &--main-footer-form {
    margin-top: 31px;
    margin-bottom: 35px;
  }

  &--main-footer-photo {
    margin-top: 28px;
    margin-bottom: 31px;

    @media (--screen-tablet) {
      margin: 7px 0 2px -21px;
      padding-top: 18px;
    }

    @media (--screen-desktop) {
      margin-left: 0;
      padding-top: 20px;
    }
  }

  &--main-footer-form{
    margin: 29px 0;

    @media (--screen-tablet) {
      margin-top: 33px;
      padding-top: 12px;
    }

    @media (--screen-desktop) {
      margin-left: 24px;
    }
  }

  &__link {
    position: relative;

    display: inline-block;
    width: 42px;
    height: 44px;
    margin-right: 10px;

    font-size: 0;

    border-radius: 50%;
    border: 3px solid $gray;
    background-color: $white;
    transition: border .3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: $gray-dark;
    }


    &:active {
      opacity: 0.3;
    }

    @media (--screen-tablet) {
      width: 45px;
      height: 45px;
      margin-right: 9px;
      margin-bottom: 0;
    }

    /**/
    .main-footer--photo &{
      width: 45px;
      height: 45px;
    }
    /**/
  }

  &__svg {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-45%,-50%);

    fill: $pink;

    transition: all .3s;

    &--twitter {
      width: 17.5px;
      height: 14.663px;
    }

    &--facebook {
      width: 8.673px;
      height: 18.944px;
    }

    &--youtube {
      width: 14.64px;
      height: 13.96px;
    }
  }
}
