.upload {
  padding-top: 20px;

  background-color: $light-gray;

  outline: 1px solid red;

  &__container {
    @media (--screen-tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    margin: 0;

    text-align: center;

    background-color: $white;
  }
}
