.user-photo {
  margin-bottom: 20px;

  font-size: $font-size;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--screen-tablet) {
    width: 48.4%;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media(--screen-desktop) {
    width: 31.25%;
    margin-bottom: 54px;

    margin-right: 20px;

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3) {
      margin-bottom: 0px;
    }

  }

  &__photo-wrapper {
    @media (--screen-tablet) {
      height: 300px;
    }

    @media (--screen-desktop) {
      width: 300px;
      height: 400px;
    }
  }

  &__container {
    background-color: $white;

    @media (--screen-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (--screen-desktop) {
      justify-content: flex-start;
    }
  }

  /*consider to remove modificator*/
  &--item {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__photo-header {
    &--panorama {
      @media (--screen-tablet) {
        order: 1;
      }
    }
  }

  &__photo-description {
    padding: 20px 0 22px 17px;

    color: $gray-dark;

    background-color: $light-gray;

    @media (--screen-tablet) {
      padding: 27px 30px 23px 27px;
    }

    @media (--screen-desktop) {
      padding: 27px 32px 23px 28px;
    }

    &--panorama {
      @media (--screen-tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      @media (--screen-desktop) {
        width: 92%;
        padding-bottom: 0;
      }
    }

    &--item {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      @media (--screen-tablet) {
        min-height: 98px;
        padding-bottom: 30px;
      }

      @media (--screen-desktop) {
        min-height: 98px;
        padding-bottom: 28px;
      }
    }
  }

  &__author {
    font-size: $font-size;
    font-weight: calc($font-weight + 300);
  }

  &__time {
    font-size: $font-size-small;
    color: $gray;
  }

  &__text {
    margin: 5px 0 20px 0;

    font-size: $font-size;
    line-height: $line-height;

    @media (--screen-desktop) {
      margin-bottom: 22px;
    }
  }

  &__footer {
    color: $pink;

    @media (--screen-tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--panorama {
      @media (--screen-tablet){
        order: 2;
      }
    }

    &--item {
      margin-top: auto;
    }
  }

  &__like-text {
    display: inline-block;
    margin-left: 16px;

    font-size: $font-size-small;
    text-transform: uppercase;

    @media (--screen-tablet) {
      order: -1;

      margin-left: 0;
      margin-right: 18px;
    }
  }

  &__heart {
    width: 12px;
    height: 12px;

    fill: $pink;
  }
}
