.user-photo-container {
  background-color: $white;

  @media (--screen-tablet) {
    padding-top: 30px;
  }

  /*outline: 1px solid red;*/

  &__container-wrapper {
    @media (--screen-desktop) {
      width: 100%;
    }
  }
}
