.user-photo {
  margin-bottom: 20px;

  font-size: $font-size;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--screen-tablet) {
    width: 48%;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media(--screen-desktop) {
    width: 31.25%;
    margin-bottom: 52px;

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3) {
      margin-bottom: 0px;
    }

  }

  &__photo-wrapper {
    @media (--screen-tablet) {
      height: 300px;
    }

    @media (--screen-desktop) {
      width: 300px;
      height: 400px;
    }

    &--panorama {
      position: relative;

      min-height: 137px;
      width: 100%;
      margin: 0 auto;

      background-image: url("../img/panorama-mobile@1x.jpg");
      background-position: center center;
      background-size: cover;
      outline: 1px solid lightblue;

      @media(--screen-tablet) {
        min-height: 510px;

        background-image: url("../img/panorama-tablet@1x.jpg");
      }

      @media (--screen-mobile) and (min-resolution: 144dpi), (--screen-mobile) and (min-resolution: 1.5dppx) {
        background-image: url("../img/panorama-mobile@2x.jpg"), url("../img/panorama-mobile@2x.jpg");
      } 

      @media (--screen-tablet) and (min-resolution: 144dpi), (--screen-tablet) and (min-resolution: 1.5dppx) {
        background-image: url("../img/panorama-tablet@2x.jpg"), url("../img/panorama-tablet@2x.jpg");
      } 

      @media (--screen-desktop) {
        background-image: url("../img/panorama-desktop@1x.jpg");
      }

      @media (--screen-desktop) and (min-resolution: 144dpi), (--screen-desktop) and (min-resolution: 1.5dppx) {
        background-image: url("../img/panorama-desktop@2x.jpg"), url("../img/panorama-desktop@2x.jpg");
      } 
    }
  }

  &__sticker {
    position: absolute;
    top: 0;
    right: 20px;

    display: inline-block;
    padding: 11px 20px;

    color: $white;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: calc($font-weight + 300);

    background-color: $pink;

    @media (--screen-tablet) {
      top: 57px;
      right: 40px;
    }

    @media (--screen-desktop) {
      top: 53px;
      right: 362px;
    }
  }

  &__container {
    background-color: $white;

    @media (--screen-tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (--screen-desktop) {
      width: 98%;
    }
  }

  /*consider to remove modificator*/
  &--item {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__photo-header {
    &--panorama {
      @media (--screen-tablet) {
        order: 1;
      }
    }
  }

  &__photo-description {
    padding: 20px 0 23px 17px;

    color: $gray-dark;

    background-color: $light-gray;

    @media (--screen-tablet) {
      padding: 25px 30px 23px 25px;
    }

    &--panorama {
      @media (--screen-tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      @media (--screen-desktop) {
        width: 92%;
        padding-bottom: 0;
      }
    }

    &--item {
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      @media (--screen-tablet) {
        min-height: 100px;
        padding-bottom: 32px;
      }
    }
  }

  &__author {
    font-size: $font-size;
    font-weight: calc($font-weight + 300);
  }

  &__time {
    font-size: $font-size-small;
    color: $gray;
  }

  &__text {
    margin: 5px 0 20px 0;

    font-size: $font-size;
    line-height: $line-height;

    &--panorama {
      @media (--screen-tablet) {
        order: 3;
        width: 100%;
      }
    }
  }

  &__footer {
    color: $pink;

    @media (--screen-tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--panorama {
      @media (--screen-tablet){
        order: 2;
      }
    }

    &--item {
      margin-top: auto;
    }
  }

  &__like-text {
    display: inline-block;
    margin-left: 16px;

    font-size: $font-size-small;
    text-transform: uppercase;

    @media (--screen-tablet) {
      order: -1;

      margin-left: 0;
      margin-right: 18px;
    }
  }

  &__heart {
    fill: $pink;
  }
}
